<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{recipe.name}}</title>
</head>
<body>
    {{recipe.name}}
    {{recipe.description}}
    {{recipe.ingredients}}
    {{recipe.instructions}}
    {{recipe.image}}
    {{recipe.created_at}}
    {{recipe.updated_at}}
    {{recipe.user}}
    


        {% csrf_token %}
        

    
    </form>
</body>
</html>