{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="mb-0">Create a Recipe</h3>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'recipe_create' %}">
                            {{ form|crispy }}
                            {% csrf_token %}
                          <div class="d-grid gap-2"><button type="submit" class="btn btn-lg btn-block btn-primary">Register</button></div>
                          </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>

        </div>
    </div>
    
</body>
{% endblock content %}