{% extends 'base.html' %}
{% block title %} Recipe Detail {% endblock title %}

{% block content %}

<body>
    <div class="container">
        <div class="row"> 
            {% for recipes in recipe %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="mb-0">{{recipes.name}}</h3>
                    </div>
                    <div class="card-body">
                        {{recipes.description}}
                        {{recipes.ingredients}}
                        {{recipes.instructions}}
                        {% if recipe.image %}
                            <img src="{{ recipe.image.url }}">
                            /Users/coded/Desktop/HTML/foodie_project/foodies/foodies/images/Screen_Shot_2022-08-15_at_2.58.07_PM.png
                        {% endif %}
                        {{recipes.created_at}}
                        {{recipes.updated_at}}
                        {{recipes.user}}
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- <div class="col-md-12">
               
                <div class="card">
                    <div class="card-header">
                        <h3 class="mb-0">All Recipe list</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Ingredients</th>
                                    <th>Instructions</th>
                                    <th>Image</th>
                                    <th>Created at</th>
                                    <th>Updated at</th>
                                    <th>User</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for recipes in recipe %}
                                    <tr>
                                        <td>{{recipes.name}}</td>
                                        <td>{{recipes.description}}</td>
                                        <td>{{recipes.ingredients}}</td>
                                        <td>{{recipes.instructions}}</td>
                                        <td>{% if recipe.image %}
                                            <img src="{{ recipe.image.url }}">
                                            /Users/coded/Desktop/HTML/foodie_project/foodies/foodies/images/Screen_Shot_2022-08-15_at_2.58.07_PM.png
                                        {% endif %}</td>
                                        <td>{{recipes.created_at}}</td>
                                        <td>{{recipes.updated_at}}</td>
                                        <td>{{recipes.user}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> -->
        {% csrf_token %}

      </ul>
</body>


{% endblock content %}