{% load crispy_forms_tags %}  

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    
<div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h2>Registration Form</h2>
      </div>
        <div class="form_container">
          <div class="container py-5">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="mb-0">Register</h3>
                  </div>
                  <div class="card-body">
                    <form method="POST" action="{% url 'register' %}">
                      {{ form.as_p }}
                      {% csrf_token %}
                      <button type="submit" class="btn btn-lg btn-block btn-primary">Register</button>
                    </form>
                  </div>
                </div>
              </div>



              
              
            </div>